<!DOCTYPE html>
<html>
    <head>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FIFA 101</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="jancuk">

            <video autoplay loop muted plays-inline class="back-video">
                <source src="src/video.mp4" type="video/mp4">
            </video>

            <nav>
                <img src="src/logo.png" class="fnlogo">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="view/tactical.html">TACTICAL</a></li>
                    <li><a href="view/tactical.html">PROMISING PLAYERS</a></li>
                </ul>
            </nav>
            <div class="konten">
                <h1>List Of Players</h1>
            </div>
        </div>

    </body>

</html>